.git/
.devcontainer/
.cache/
**/mysql/data/
**/dump/
.tmp/
node_modules/
*.log
*.tar.gz
.env
**/.nx
**/.nextjs
pnpm-lock.yaml
package-lock.json
yarn.lock
**/.venv/
**/node_modules/
**/dist/
**/build/
**/.artifacts/
**/coverage/
**/.outputs/
*.tar.gz
**/log/
**/.terraform/
*-oauth.json
**/__pycache__
.cache
**/*.tf
.ignore/
