.devcontainer/
**/mysql/data/
**/mongo/dump/
**/nginx/cdn/
**/.cache/
.cache/
.k8s/
.tmp/
.vscode/
.git/
node_modules/
*.log
*.tar.gz
.env
.outputs/
extalia/
**/.nx
**/.nextjs
pnpm-lock.yaml
package-lock.json
yarn.lock
**/node_modules/
**/dist/
**/build/
**/out/
**/coverage/
**/nginx/
**/.outputs/
**/public/
*.tar.gz
**/log/
**/.terraform/
*-oauth.json
**/__pycache__
