[submodule "mcp"]
	path = shared/mcp
	url = git@github.com:mend3/mcp.git
[submodule "shared/typestack"]
	path = shared/typestack
	url = git@github.com:mend3/typestack.git
[submodule "shared/react-trainee"]
	path = shared/react-trainee
	url = git@github.com:mend3/react-trainee.git
[submodule "browser/use"]
	path = browser/use
	url = git@github.com:mend3/browser-use.git
[submodule "deployment/extalia/java"]
	path = deployment/extalia/java
	url = git@github.com:mend3/extalia.git
[submodule "deployment/extalia/web"]
	path = deployment/extalia/web
	url = git@github.com:mend3/l2-web.git
[submodule "sws"]
	path = deployment/sws
	url = git@github.com:mendshell/sws.git
