auth/
.k8s
.cache
browserless_data
*.pkl
**/certs
*.pem
**/brightdata
**/logs
*.log
**/node_modules
node_modules
*.sqlite
*.sqlite3
*.db
*.tar.gz
*.zip
*.tgz
*.rar
*.7z
*.tar
*.gz
**/nginx/cdn
.tmp
**/.tmp
tmp/
**/tmp
**/__pycache__
**/coverage
**/dist
**/build
**/.outputs
.env
**/.env
**/*.env
**/.env.*
**/*.env.*
!**/.env.sh
*-oauth.*
*-credentials.*
deployment/imobifinder
brain/
**/public/system
**/migrations
deployment/leadgen
deployment/extalia/server
deployment/extalia/app
deployment/extalia/docs
.docker/precis/**
.docker/**/data
**/*.pickle
**/*_ignore
brain/
**/*.hcl
**/tfplan
**/.terraform
!vendors/*.yml
vendors/*
.docker/*/media/*
.docker/*/sessions/*