.k8s
.cache
browserless_data
*.pkl
**/certs
*.pem
**/brightdata
**/logs
*.log
**/node_modules
node_modules
*.sqlite
*.sqlite3
*.db
*.tar.gz
*.zip
*.tgz
*.rar
*.7z
*.tar
*.gz
**/nginx/cdn
.tmp
**/.tmp
tmp/
**/tmp
**/__pycache__
**/coverage
**/dist
**/build
**/.outputs
.env
**/.env
**/*.env
**/.env.*
**/*.env.*
!**/.env.sh
*-oauth.*
*-credentials.*
brain/
**/migrations
.docker/n8n/**
!.docker/n8n/.gitkeep
.docker/**/data
**/*.pickle
**/*.hcl
**/tfplan
**/.terraform
!vendors/*.yml
.docker/waha/*
.ignore/
**/precis/data/
**/waha/sessions/
